<form #userForm="ngForm" >
  <div>
    <label>Name:</label>
    <input type="text" name= "name" [(ngModel)]="user.name" #name="ngModel" required minlength="3">
    <ul *ngIf="name.errors && name.touched">
      <li *ngIf="name.errors.required">name is required</li>
      <li *ngIf="name.errors.minlength">Min length 3</li>
    </ul>
  </div>
  <div>
    <label>Email:</label>
    <input type="text">
  </div>
  <div>
    <label>Password:</label>
    <input type="password">
  </div>
  <div>
    <label>Birthday:</label>
    <input type="date">
  </div>
  <div>
    <label>Avatar:</label>
    <input type="text">
  </div>
  <button>Create</button>
</form>
